---
layout: default
---

<div class="home">

    <h1 class="page-heading">Recent Posts</h1>

{% for post in site.posts offset: 0 limit: 10  %}

    <div class="post">

        <header class="post-header">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <article class="post-content">
            {{ post.content |truncatehtml | truncatewords: 60 }}
        </article>

    </div>

{% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
