<!-- ---------------------------------------------------------------------- -->
<!-- Multiplatform Toolchain and IDE -->
<!-- ---------------------------------------------------------------------- -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Multiplatform Toolchain and IDE</h2>
                Armstrap development relies on the open source “Eclipse” IDE, specifically configured for ARM development. Eclipse has some of the best advanced features that real-world developers know and depend on to make development productive. Developers can easily write code, flash their chip, debug and inspect variables at runtime, without any compromises or headaches. Armstrap Eclipse comes pre-configured with the GNU Tools for ARM Embedded Processors that works with Mac, Linux and Windows.. There are no licenses to worry about, and there are no serial USB keys to share.
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-responsive" src="img/multi-platform.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------- -->
<!-- Integrated JTAG -->
<!-- ---------------------------------------------------------------------- -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Integrated JTAG</h2>
                Armstrap development boards build the JTAG device on to the development board, allowing developers to worry about more important things–like their code.  No worrying about licensing keys, serial numbers or proprietary drivers.
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/integrated-jtag.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------- -->
<!-- Open Source -->
<!-- ---------------------------------------------------------------------- -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Open Source</h2>
                Armstrap is open. Armstrap boards can be use both personally and commercially. We publish our source code, schematics and design files under an MIT license, giving you the flexibility to use, change, remix and do whatever you need.
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-responsive" src="img/opensource.png" alt="">
            </div>
        </div>
    </div>
</div>



<!-- ---------------------------------------------------------------------- -->
<!-- Remixable -->
<!-- ---------------------------------------------------------------------- -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Remixable</h2>
                All Armstrap boards are designed to fit a two-layer PCB board. Many PCB fabricators can crank out two-layer boards easily and in a cost effective manner, giving your project the agility it needs. There are also several online prototyping services that can ship a two-layer board in a very cost effective manner.
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/change-button.jpg" alt="">
            </div>
        </div>
    </div>
</div>

