<!-- Post Content -->
<div class="content-post">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr class="post-heading-spacer">
                <div class="clearfix"></div>
                <h1 class="post-heading" >{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                <span class="post-content">{{ content }}</span>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

